{
    "extends": [
        "eslint:recommended",
        "plugin:vue/recommended",
        "prettier",
        "prettier/vue"
    ],
    "plugins": ["prettier", "vue"],
    "parserOptions": {
        "ecmaVersion": 9,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "root": true,
    "env": {
        "node": true,
        "browser": true,
        "es6": true,
        "jest": true
    },
    "rules": {
        "prettier/prettier": ["error", { "singleQuote": true, "semi": false }],
        "no-undef": "warn",
        "no-unused-vars": "warn",
        "semi": [2, "never"],
        "no-console": "off",
        "vue/max-attributes-per-line": "off"
    }
}
